<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>host_api</key>
	<string>https://sasa-bus.appspot.com/v1/</string>

	<key>host_api_data</key>
	<string>https://sasa-bus-data.appspot.com/v1/</string>

	<key>host_api_reports</key>
	<string>https://davale-sasa.appspot.com/v1/</string>

	<key>host_api_telemetry</key>
	<string>https://davale-sasa.appspot.com/v1/</string>

	<key>host_api_database</key>
	<string>https://davale-sasa.appspot.com/v1/</string>

	<key>realtime_max_cache_age</key>
	<integer>30</integer>

	<key>realtime_api_url</key>
	<string>https://sasa-bus.appspot.com/v1/</string>
</dict>
</plist>
