<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Map</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Map</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>default_position_title</string>
			<key>Key</key>
			<string>pref_default_map_position</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>default_position_south_tyrol</string>
				<string>default_position_bolzano</string>
				<string>default_position_merano</string>
			</array>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>map_type_title</string>
			<key>Key</key>
			<string>pref_map_type</string>
			<key>DefaultValue</key>
			<string>standard</string>
			<key>Titles</key>
			<array>
				<string>map_type_standard</string>
				<string>map_type_satellite</string>
				<string>map_type_hybrid</string>
			</array>
			<key>Values</key>
			<array>
				<string>standard</string>
				<string>satellite</string>
				<string>hybrid</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>auto_refresh_title</string>
			<key>FooterText</key>
			<string>auto_refresh_footer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>auto_refresh_title</string>
			<key>Key</key>
			<string>pref_map_auto_refresh_enabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>auto_refresh_interval</string>
			<key>Key</key>
			<string>pref_map_auto_refresh_interval</string>
			<key>DefaultValue</key>
			<string>5</string>
			<key>Titles</key>
			<array>
				<string>auto_refresh_interval_three</string>
				<string>auto_refresh_interval_five</string>
				<string>auto_refresh_interval_ten</string>
				<string>auto_refresh_interval_fifteen</string>
			</array>
			<key>Values</key>
			<array>
				<string>3</string>
				<string>5</string>
				<string>10</string>
				<string>15</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>overlay_title</string>
            <key>FooterText</key>
            <string>overlay_footer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>overlay_enable_single</string>
			<key>Key</key>
			<string>pref_tile_overlay_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>overlay_enable_all</string>
			<key>Key</key>
			<string>pref_tile_overlay_enabled_all</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
