<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Notifications</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>section_bus_footer</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>section_bus_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>notification_bus_title</string>
			<key>Key</key>
			<string>pref_bus_notification_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>section_trip_footer</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>section_trip_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>notification_trip_title</string>
			<key>Key</key>
			<string>pref_trip_notification_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>section_news_footer</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>section_news_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>notification_news_title</string>
			<key>Key</key>
			<string>pref_news_notification_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>section_survey_footer</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>section_survey_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>notification_survey_enable_title</string>
			<key>Key</key>
			<string>pref_survey_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<string>3</string>
			</array>
			<key>Titles</key>
			<array>
				<string>notification_survey_interval_0</string>
				<string>notification_survey_interval_1</string>
				<string>notification_survey_interval_2</string>
				<string>notification_survey_interval_3</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>notification_survey_interval_title</string>
			<key>Key</key>
			<string>pref_news_notification_enabled</string>
			<key>DefaultValue</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
